body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Chained CSS */
.welcometext,
a {
    font-size: 18px;
    color: #E5E7EB;
}

header,
.welcomesection {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

header,
.welcomesection,
.randomsection,
.call-to-action-section {
    padding-right: 300px;
    padding-left: 300px;
}


/* Header section */
header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

/* Welcome section */
.welcomesection {
    padding-top: 128px;
    padding-bottom: 128px;
}

.welcomediv {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-right: 250px;
}

.imageplaceholder {
    align-self: center;
    margin-right: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.mondrianimg {
    width: 100%;
    height: 200px;
}


.awesomespan {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.signup {
    background-color: #3882F6;
    padding: 12px 32px;
    color: white;
    border-radius: 12px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* Random section */
.randomsection {
    padding-top: 64px;
}

.random-info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 64px;
}

.random-info-content {
    display: flex;
    justify-content: space-around;
    padding-bottom: 128px;
}

.random-info-item {
    max-width: 200px;
}

.hopperimg {
    width: 200px;
    height: 150px;
    border-radius: 25px;
    padding-bottom: 8px;
}

/* Quote section */
.quotesection {
    background-color: #E5E7EB;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-left: 550px;
    padding-right: 550px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.quoteauthor {
    color: #1F2937;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

/* Call to action section */
.call-to-action-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.call-to-action-content {
    background-color: #3882F6;
    padding: 48px 160px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
}

.button-cta-section {
    border: 2px solid white;
}

.call-to-action-title {
    font-weight: bold;
    font-size: 24px;
}

.call-to-action-subtext,
.call-to-action-title {
    color: white;
}